.products-home {
  max-width: 335px;
  margin: 80px auto 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
}
.h1-products-home {
  font-size: 1.75em;
}

@media (min-width: 768px) {
  .products-home {
    max-width: 900px;
    padding: 0px 40px;
    align-items: start;
    text-align: start;
  }
}

@media (min-width: 1024px) {
  .products-home {
    max-width: 100%;
    padding: 0px 20px;
  }
}
