.rims {
  max-width: 335px;
  margin: 0px auto 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
}
.h2-products {
  font-size: 1.5em;
}
.products-row {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 40px;
  text-align: start;
}
.product {
  border-radius: 10px;
  border: 1px solid #8d8d8d;
}
.img-product {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}
.content-product {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: #333;
  gap: 5px;
  border-top: 1px solid #00000080;
}
.h3-title-product {
    font-size: 1.25em;
}
.price-product {
    font-weight: 700;
}
.used-product {
    color: #00000090;
}
.product-link {
    color: #fff;
    background-color: #000000;
    padding: 10px 20px;
    font-weight: 600;
    margin: 10px 0;
    display: block;
    width: fit-content;
    border-radius: 10px;
}
.product-link:hover{
    background-color: #212020;
    transition: .4s ease-in-out;
}

@media (min-width: 768px) {
  .rims {
    max-width: 900px;
    padding: 0px 40px;
    align-items: start;
  }
  .p-products {
    text-align: start;
  }
  .products-row {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 1024px) {
  .rims {
    max-width: 100%;
    padding: 0 20px;
  }
  .products-row {
    max-width: 1150px;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto 0;
  }
}

@media (min-width: 1440px) {
  .products-row {
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
}
