.home {
  padding: 70px 20px 50px;
  max-width: 330px;
  margin: 30px auto 0;
  overflow: hidden;
}
.text-home-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.h1-home {
  font-size: 1.75em;
}
.btns-container-home {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 15px 0 30px;
}
.btn-home {
  font-size: 0.875em;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  width: 35%;
  cursor: pointer;
}
.store {
  background-color: #af2e2e;
}
.store:hover {
  background-color: #810101;
  transition: 0.4s ease-in-out;
}
.contact {
  background-color: #444141;
}
.contact:hover {
  background-color: #000;
  transition: 0.4s ease-in-out;
}
.img-home {
  width: 100%;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .home {
    padding-top: 30px;
    margin-top: 0;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    max-width: 768px;
    display: flex;
    gap: 20px;
  }
  .btns-container-home {
    flex-direction: row;
  }
  .img-home {
    object-fit: contain;
    max-width: 350px;
  }
}

@media (min-width: 1024px) {
  .home {
    max-width: 1024px;
    gap: 25px;
  }
  .img-home {
    max-width: 50%;
  }
}

@media (min-width: 1440px) {
  .home {
    max-width: 1200px;
    gap: 50px;
  }
}
